@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@700;900&display=swap');
:root {
    --soft-red:hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --dark-desat-cyan:hsl(167, 40%, 24%);
    --dark-blue:hsl(198, 62%, 26%);
    --dark-mod-cyan:hsl(168, 53%, 69%);
    --darker-desat-blue:hsl(212, 27%, 19%);
    --darker-gray-blue:hsl(213, 9%, 39%);
    --dark-gray-blue:hsl(232, 10%, 55%);
    --gray-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
ul {
    list-style-type: none;
}
header {
    background-image: url('../images/desktop/image-header.jpg');
    height: 90vh;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        align-items: center;
            img {
                padding-left: 2rem;
                object-fit: contain;
            }
            #dropdown {
                visibility: hidden;
                background-image: url('../images/icon-hamburger.svg');
                height: 1rem;
                
                &:focus + #links-handler ul {
                    display: flex;
                }
            }
        
        ul {
            display: flex;
            padding-right:2rem;
            
            li {
                text-align: center;
                padding: 1rem;
                margin-left: 1rem;
                color: var(--white);
                font-family: 'Barlow', sans-serif;

                a {
                    color: var(--white); 
                    font-size: 1.2rem;
                }

                &:last-child {
                    color: var(--dark-blue);
                    text-transform: uppercase;
                    font-weight: 900;
                    border-radius: 40px;
                    background-color: var(--white);
                    font-family: 'Fraunces', serif;

                    a {
                        color: var(--dark-blue);
                    }
                }

                
            }
        }
    }
    
    #main-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
        h1{
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 3rem;
            text-transform: uppercase;
            color: var(--white);
            letter-spacing: .5rem;
            margin-bottom: 6.5rem;
        }
        img {
            width: auto;
        }
    }
}

p {
    padding: 3rem 0;
    font-family: 'Barlow', sans-serif;
    color: var(--dark-gray-blue);
    font-size: 1.3rem;
    line-height: 1.7rem;
}

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 8rem;

        h3 {
            font-family: 'Fraunces', serif; 
            font-weight: 900;
            font-size: 2.7rem;
            color: var(--darker-desat-blue);
        }

        a {
            width: max-content;
            text-transform: uppercase;
            color: var(--darker-desat-blue);
            font-family: 'Fraunces', serif;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: .05rem;
            border-bottom: 2px ridge var(--yellow);
        }
    }
    img {
        width: 100%;
    }
    #graphic-design {
        background-image: url('../images/desktop/image-graphic-design.jpg');
        
    }
    #photography {
        background-image: url('../images/desktop/image-photography.jpg');
        
    }
    .card-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        padding: 2rem 11rem 3rem;

        h5 {
            font-family: 'Fraunces', serif; 
            font-weight: 900;
            color: var(--dark-desat-cyan);
            font-size: 2rem;
        }
        p {
            color: var(--dark-desat-cyan);
        }

        &:last-child {
            h5,p {
                color:var(--dark-blue)
            }
        }
    }

}


#clients-text {
    display: flex;
    flex-direction: column;

    h2 {
        font-family: 'Fraunces', serif;
        text-align: center;
        color: var(--gray-blue);
        text-transform: uppercase;
        margin: 7rem 0 4rem;
        letter-spacing: .3rem;
        font-size: 1.5rem;
    }

    #clients-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 11.5rem;

        .client-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 1rem;
            
            img {
                border-radius: 50%;
                width: 25%;
            }

            p {
                text-align: center;
                font-size: 1.1rem;
                color: var(--dark-blue);
                padding: 2.5rem 0 3rem;

                &:last-child {
                    color: var(--gray-blue);
                    padding: 0;
                    
                }
            }

            h5 {
                font-family: 'Fraunces', serif;
                font-weight: 900;
                font-size: 1.2rem;
                padding-bottom: .3rem;
            }
        }
    }
}

#img-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 8rem;
    img {
        width: 100%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-mod-cyan);
    padding: 3rem 0 0;

    img {
        width: 10%;
        filter: 
            brightness(0)
            saturate(100%)
            invert(25%) sepia(8%) saturate(2964%) hue-rotate(116deg) brightness(150%) contrast(83%);
    }
    ul {
        margin: 1.5rem 0 3rem;
        display: flex;
        gap: 2.5rem;

        a {
            color: var(--dark-desat-cyan);
            font-family: 'Barlow', sans-serif;
            
            font-weight: 500;

        }
    }
    #icons {
        
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
            
        img {
            width: 130%; 
        }
    }
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:1440px) {
    header {
        #main-title {
            margin-top: 5rem;
        }
        h1 {
            margin-bottom:5rem !important;
        }
    }
    .card-text {
        padding: 0 4rem !important;
    }
    .card-description {
        padding: 2rem 5rem 0 !important;
    }
    #clients-grid {
        padding: 0 4rem !important;
    }
    footer {
        img {
            width: 15%;
        }
    }
}

@media (max-width:1024px) {
    .card-text {
        padding: 0 1rem !important;
    }
    .card-description {
        padding: 2rem .5rem 0 !important;

        p{
            padding: 1rem 0;
        }
    }
    #clients-grid {
        padding: 0 !important;

        .client-card {
            padding: .5rem !important;
        }
    }
    footer {
        img {
            width: 15%;
        }
    }
}
@media (max-width:768px) { 

    header {
        h1 {
            font-size: 1.5rem;
        }

        nav {
            
            margin-right: 1rem;

            #dropdown {
                visibility:visible !important;  
            }
            #links-handler {
                position: absolute;
                top: 10%;
                width: 100%;
                display: flex;
                justify-content: center;
                
                ul {
                    position: relative; 
                    width: 92%;
                    flex-direction: column;
                    display: none;
                    background-color: var(--white);
                    align-items: center;
                    margin-top: 1rem;
                    padding: 2rem 0;
                    gap: .7rem;
                      
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 0;
                        border: 1rem solid transparent;
                        border-right-color: var(--white);
                        transform: translateY(-50%);
                    }
                    
                    li {
                        width: max-content;
                        margin-left: 0;
                        
                        a {
                            color: var(--dark-gray-blue);
                        }
        
                        &:last-child {
                               background-color: var(--yellow);

                               a {
                                   color: var(--dark-blue);
                               }
                        }

                        
                    }
                }
            }
            
        }
        
    }
    #card-grid {
        
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;

        .card-text {
            padding: 0;
            height: 100%;

            h3 {
                align-self: flex-start
            }
            
        }
        img {
            width: 100%;

            &:first-of-type {
                order: -1;
            }
        }
        .card-description {
            p {
                padding: 2rem 1rem 4rem;
            }
        }

    }
    #clients-grid {
        padding: 0 3rem !important;
        grid-template-columns: 1fr !important;

        .client-card {
            padding: 0 !important;
            margin-bottom: 4rem;

            p {
                &:first-of-type{

                    padding: 2.5rem 0 1.5rem !important;
                }
            }
        }   
    }
    footer {       
        img {
            width: 30%;
        }
    }
}

@media (max-width:425px) {
    header {
        h1 {
            font-size: 2rem !important;
            margin-bottom: 4rem !important;
        }
    }
    #card-grid {
        grid-auto-rows:initial;
        
        .card-text {
            h3 {
                font-size: 1.8rem;
            }
            a {
                margin-bottom: 3rem;
            }
        }

        .card-description {
            padding: 20rem .5rem 0 !important;
        }
    }
    #img-grid {
        grid-template-columns: repeat(2,1fr);
    }
}